# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Compilação
/build/
/dist/
/target/
*.class

# Logs e temporários
*.log
*.tmp
*.temp
*.bak
*.swp
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/